*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-color: #FFD5D5;
}

/* ===== Nav-Bar - Start ===== */

nav{
    background-color: #FFD5D5;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: auto;
}

nav a{
    font-family: 'Rage Italic', sans-serif;
    font-size: 35px;
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    margin: 20px 0px;
}

nav a:hover{
    color: #DB8D8D;
}

nav li:first-child{
    margin-right: auto;
}

nav li:first-child a{
    color: white;
}

.sidebar{
    position: fixed;
    top: 0;
    right: -250px;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #FFC6C6;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: right 0.3s ease-in-out;
}

.sidebar li{
    width: 100%;
}

.sidebar li a{
    width: 100%;
}

.sidebar li a i{
    padding-right: 10px;
}

nav ul .nav-top{
    display: flex;
    width: 100%;
}

nav ul .nav-top .x-button a{
    justify-content: end;
}


.menu-button{
    display: none;
}

/* ===== Nav-Bar - End ===== */


/* ===== Introduction - Start ===== */

@keyframes slideInUp {
    from {
        transform: translateY(300px);
    }

    to {
        transform: translateY(0);
    }
}

.introduction{
    display: flex;
    padding: 30px 0px;
}

.intro-image{
    width: 25%;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    
}

.intro-image img{
    animation-name: slideInUp;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    width: 100%; /* Make the image fill the container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove extra spacing */
}

.introduction .hello{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 50%;
    padding-bottom: 10px;
}

.introduction .hello h1{
    font-size: 200px;
    font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
}

.introduction .hello h3{
    font-size: 90px;
    font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
}

.introduction .hello h4{
    font-size: 60px;
    padding-top: 10px;
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.introduction .hello h5{
    font-size: 50px;
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.introduction .hello p{
    padding-top: 30px;
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.introduction .hello p a{
    text-decoration: none;
    padding: 10px 25px;
    background-color: #DB8D8D;
    color: white;
    border-radius: 30px;
    font-size: 2vw;
}

/* ===== Introduction - End ===== */


/* ===== About Me - Start ===== */

.about-me{
    background-color: white;
    /* position: relative;
    z-index: 1;
    margin-top: -100px; */
    display: flex;
    padding: 30px 0px;
}

.about-me .text{
    max-width: 60%;
    margin: auto;
}

.about-me h1{
    font-size: 130px;
    font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
    color: rgb(54, 54, 54);
}

.about-me h5{
    line-height: 1.8;
    font-size: 50px;
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.elephant{
    width: 30%;
    margin: auto;
}

.elephant img{
    width: 100%;
    height: auto;
}


/* ===== About Me - End ===== */



/* ===== Contact Us - Start===== */
.contact-me{
    font-family: "Knewave", system-ui;
    font-weight: 100;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 200px;
    color: white;
    text-align: center;
}

.contact-me h1 {
    letter-spacing: 3px;
    padding: 20px 0px;
    font-size: 90px;
}

.contact-me h3 {
    letter-spacing: 3px;
    padding: 20px 0px;
    font-size: 50px;
}

.contact-details{
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
    background-color: white;
    display: flex;
    margin: auto;
    padding: 50px 40px;
}

.contact-details .info{
    margin: 0px 50px;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.contact-details .info .details{
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.contact-details .info .details h3{
    font-size: 60px;
}

.contact-details .info .details p{
    font-size: 30px;
}

.contact-details .info .details p i{
    padding-right: 25px;
}

.contact-details .info .elenchick{
    width: 80%;
    margin: auto;
}

.contact-details .info .elenchick img{
    padding-top: 30px;
    height: auto;
    width: 100%;
}

.contact-details .contact{
    margin: 0px 50px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 30px;
    width: 50%;
}

.contact-details .contact textarea{
    height: 250px;
    border-radius: 15px;
    padding-top: 5px;
}

.contact-details .contact h3{
    font-size: 60px;
    margin: auto;
    text-align: center;
}

.contact-input{
    margin: auto;
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
    border: none;
    background-color: rgb(225, 225, 225);
    border-radius: 15px;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 10px;
    height: 60px;
    width: 90%;
}

.contact-details .contact button{
    margin: auto;
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
    border: none;
    font-size: 30px;
    background-color: rgb(225, 225, 225);
    height: 70px;
    width: 150px;
    border-radius: 50px;
}


/* ===== Contact Us - End ===== */

/* =============== RESPONSIVE =============== */

@media (max-width: 1630px){
    /* ===== Intro - Start ===== */
    .introduction .hello h1{
        font-size: 150px;
    }

    .introduction .hello h3{
        font-size: 70px;
    }
    /* ===== Intro - Start ===== */

    /* ===== About Me - Start ===== */
    .about-me h1{
        font-size: 110px;
    }
    
    .about-me h5{
        font-size: 40px;
    }
    /* ===== About Me - End ===== */
}

/* ============================================================ */

@media (max-width: 1240px){
    
    /* ===== Intro - Start ===== */
    .introduction .hello h1{
        font-size: 130px;
    }

    .introduction .hello h3{
        font-size: 60px;
    }

    .introduction .hello h4{
        font-size: 45px;
    }

    .introduction .hello h5{
        font-size: 30px;
    }
    /* ===== Intro - End ===== */

    /* ===== About Me - Start ===== */
    .about-me h1{
        font-size: 90px;
    }

    .about-me h5{
        font-size: 30px;
    }

    /* ===== About Me - End ===== */
}

/* ============================================================ */

@media (max-width: 1055px){
    /* ===== Intro - Start ===== */
    .introduction .hello h1{
        font-size: 100px;
    }

    .introduction .hello h3{
        font-size: 50px;
    }

    .introduction .hello h4{
        font-size: 40px;
    }

    .introduction .hello h5{
        font-size: 25px;
    }
    /* ===== Intro - End ===== */

    /* ===== About Me - Start ===== */
    .about-me h1{
        font-size: 85px;
    }

    .about-me h5{
        font-size: 25px;
    }
    /* ===== About Me - End ===== */

    /* ===== Contact Us - Start ===== */

    .contact-details{
        flex-direction: column-reverse;
    }

    .contact-details .info{
        width: auto;
        margin: 50px 0px;
    }

    .contact-details .info .details{
        margin: auto;
        text-align: center;
    }

    .contact-details .contact{
        margin: auto;
        width: 90%;
    }


    /* ===== Contact Us - End ===== */
}

/* ============================================================ */

@media (max-width: 815px){
    /* ===== Intro - Start ===== */
    .introduction .hello h1{
        font-size: 90px;
    }

    .introduction .hello h3{
        font-size: 45px;
    }

    .introduction .hello h4{
        font-size: 35px;
    }

    .introduction .hello h5{
        font-size: 20px;
    }
    /* ===== Intro - End ===== */

    /* ===== About Me - Start ===== */
    .about-me h1{
        font-size: 80px;
    }

    .about-me h5{
        font-size: 20px;
    }
    /* ===== About Me - End ===== */

    /* ===== Contact Us - Start ===== */

    .contact-me h1{
        font-size: 60px;
    }

    .contact-me h3{
        font-size: 25px;
    }

    /* ===== Contact Us - End ===== */
}

/* ============================================================ */

@media (max-width: 730px){
    /* ===== Intro - Start ===== */
    .introduction .hello h1{
        font-size: 70px;
    }

    .introduction .hello h3{
        font-size: 35px;
    }

    .introduction .hello h4{
        font-size: 30px;
    }

    .introduction .hello h5{
        font-size: 20px;
    }
    /* ===== Intro - End ===== */

    /* ===== About Me - Start ===== */
    .about-me h1{
        font-size: 70px;
    }

    .about-me h5{
        font-size: 15px;
    }
    /* ===== About Me - End ===== */
}

/* ============================================================ */

@media (max-width: 600px){

    /* ===== Nav Bar - Start ===== */
    .hideOnMobile{
        display: none;
    }

    .menu-button{
        display: block;
    }
    /* ===== Nav Bar - End ===== */

    /* ===== Intro - Start ===== */
    .introduction{
        flex-direction: column;
    }

    .introduction .intro-image{
        margin: auto;
    }

    .introduction .hello{
        max-width: 70%;
        text-align: center;
    }

    /* ===== Intro - End ===== */

    /* ===== Contact Us - Start ===== */

    .contact-me h1{
        font-size: 50px;
    }

    .contact-me h3{
        font-size: 20px;
    }

    /* ===== Contact Us - End ===== */
}

/* ============================================================ */

@media (max-width: 450px){
    /* ===== Intro - Start ===== */
    .introduction .hello h1{
        font-size: 60px;
    }

    .introduction .hello h3{
        font-size: 30px;
    }

    .introduction .hello h4{
        font-size: 25px;
    }

    .introduction .hello h5{
        font-size: 15px;
    }
    /* ===== Intro - End ===== */

    /* ===== About Me - Start ===== */
    .about-me h1{
        font-size: 60px;
    }

    .about-me h5{
        font-size: 15px;
    }
    /* ===== About Me - End ===== */

    /* ===== Contact Us - Start ===== */

    .contact-me{
        padding: 100px;
    }

    .contact-me h1{
        font-size: 35px;
    }

    .contact-me h3{
        font-size: 20px;
    }

    /* ===== Contact Us - End ===== */
}

/* ============================================================ */

@media (max-width: 350px){
    /* ===== Intro - Start ===== */
    .introduction .hello h1{
        font-size: 50px;
    }

    .introduction .hello h3{
        font-size: 30px;
    }

    .introduction .hello h4{
        font-size: 25px;
    }

    .introduction .hello h5{
        font-size: 15px;
    }
    /* ===== Intro - End ===== */

    /* ===== About Me - Start ===== */
    .about-me h1{
        font-size: 50px;
    }

    .about-me h5{
        font-size: 15px;
    }
    /* ===== About Me - End ===== */

    /* ===== Contact Us - Start ===== */

    .contact-details .info .details h3 {
        font-size: 40px;
    }

    .contact-details .info .details p {
        font-size: 20px;
    }

    .contact-details .contact h3 {
        font-size: 40px;
        margin: auto;
        text-align: center;
    }

    .contact-input {
        font-size: 20px;
    }

    /* ===== Contact Us - End ===== */
}

/* ============================================================ */











